<!DOCTYPE html>
<html>
<title>Project X</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="static/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-black">

<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="background-color: #404040"> 
 <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>Home</p>
  </a>
  <a href="upload.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>Upload Images</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>Contact</p>
  </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Project X</span></h1>
    <p>The Pauper's CamScanner</p><br>
    <img src="static/images/background_solid.jpg" alt="boy" class="w3-image" width="992" height="1108">
  </header>

  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Why 'Webapp'</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>CamScanner, along with a few other apps have been banned in India following skirmishes between India and China. As the application is extremely useful, we decided to make a base version of the app. This WebApp is to serve as a Proof of Concept for the application we have made, project X.<br>
    The project basis is to emulate simple CamScanner functionality - upload images, automatically select target area and then convert it to a PDF format. 
    </p>
    <br>
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">10+</span><br>
        Production Grade Projects
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">50+</span><br>
        Personal Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">Primary Skill</span><br>
        Machine Learning
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">3</span><br>
        Programming Languages
      </div>
    </div>

    <div style="align-content: center;">
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="align-items: center;">
        <i class="fa fa-download"></i> Download Source Code
      </button>
    </div>
    
    <h3 class="w3-padding-16 w3-text-light-grey">Current Functionalities</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">WebApp</li>
          <li class="w3-padding-16">Upload Pictures</li>
          <li class="w3-padding-16">Single Image to PDF</li>
          <li class="w3-padding-16">Multiple Images to PDF</li>
          <li class="w3-padding-16">Download PDFs made from Images</li>
          <li class="w3-padding-16"><br>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Desktop App</li>
          <li class="w3-padding-16">Upload Pictures</li>
          <li class="w3-padding-16">Single Image to PDF</li>
          <li class="w3-padding-16">Multiple Images to PDF</li>
          <li class="w3-padding-16">Download PDFs made from Images</li>
          <li class="w3-padding-16">Share through Media (WhatsApp, Email)</li>
        </ul>
      </div>
    </div>
    
    <!-- Work Samples -->
    <h3 class="w3-padding-24 w3-text-light-grey">My Github</h3>
    <img src="static/images/avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Aamir Syed</span> https://github.com/Viole-Grace</p>
    <p>  Writer.   Developer.   Engineer.   Scientist. </p>
  </div>

  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Bangalore, India</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +91 9742119890</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: aamirsyed2801@gmail.com</p>
    </div><br>
  </div>
  
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Flask App, made by <a href="https://github.com/Viole-Grace" target="_blank" class="w3-hover-text-green">Aamir Syed</a></p>
  </footer>

</div>

</body>
</html>
